<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBIr7hx8Z5JHBPkCIyzo5DA7BY0TzXzOg</string>
	<key>GCM_SENDER_ID</key>
	<string>841128695295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daleal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>daleal-c9703</string>
	<key>STORAGE_BUCKET</key>
	<string>daleal-c9703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841128695295:ios:50a18d03d266160228c3ca</string>
</dict>
</plist>